@model VentasVidaKidsLoteVX.Models.Producto
<style>
    .details-container {
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
    }

    .details-header {
        background-color: #dc3545;
        color: #fff;
        padding: 10px;
        border-radius: 5px 5px 0 0;
    }

    .details-title {
        margin: 0;
    }

    .details-content {
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-top: none;
        border-radius: 0 0 5px 5px;
        padding: 20px;
        text-align: center;
    }

    .details-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        margin: 20px 0;
    }

    .details-item {
        padding: 10px;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

        .details-item dt {
            font-weight: bold;
            margin-bottom: 5px;
        }

        .details-item dd {
            margin-bottom: 10px;
        }

    .details-links {
        margin-top: 20px;
        text-align: left;
    }

        .details-links a {
            margin-right: 10px;
            text-decoration: none;
            color: #007bff;
        }

            .details-links a:hover {
                text-decoration: underline;
            }
</style>

@{
    ViewData["Title"] = "Delete";
}

<div class="details-container">
<div class="details-header">
    <h1 class="details-title">¿Seguro que desea eliminar el Producto?</h1>
</div>
<div class="details-content">
    <h4>Clientes</h4>   
    <hr />
    <dl class="details-list">
        <div class="details-item">
            <dt>Nombre Producto:</dt>
            <dd>@Html.DisplayFor(model => model.NombreProducto)</dd>
            <dt>Descripcion:</dt>
            <dd>@Html.DisplayFor(model => model.DescripcionProducto)</dd>
        </div>
        <div class="details-item">
            <dt>Precio:</dt>
            <dd>@Html.DisplayFor(model => model.PrecioProducto)</dd>
            <dt>Stock:</dt>
            <dd>@Html.DisplayFor(model => model.Stock)</dd>
       
        </div>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdProducto" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a class="btn btn-secondary" asp-action="Index">Regresar</a>
    </form>
</div>
