@model VentasVidaKidsLoteVX.Models.CategoriaProducto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CategoriaProducto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NombreCategoria" />
            <div class="form-group">
                <label asp-for="DescripcionCategoria" class="control-label"></label>
                <input asp-for="DescripcionCategoria" class="form-control" />
                <span asp-validation-for="DescripcionCategoria" class="text-danger"></span>
            </div>
            <!-- Agregar un div para mostrar el mensaje de error -->
            <div id="errorMessage" class="alert alert-danger" role="alert" style="display: none;">
                No se puede editar esta categoría porque tiene productos asociados.
            </div>
            <div class="form-group">
                <!-- Agregar un identificador único al botón de guardar -->
                <input id="saveButton" type="submit" value="Save" class="btn btn-primary" style="display: none;" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        // Obtener la referencia al botón de guardar y al div de mensaje de error
        var saveButton = document.getElementById("saveButton");
        var errorMessage = document.getElementById("errorMessage");

        // Comprobar si hay productos asociados al cargar la página
        if (@Html.Raw(Json.Serialize(ViewBag.HasProducts))) {
            // Si hay productos asociados, mostrar el mensaje de error y ocultar el botón de guardar
            errorMessage.style.display = "block";
            saveButton.style.display = "none";
        }
        else {
            // Si no hay productos asociados, ocultar el mensaje de error y mostrar el botón de guardar
            errorMessage.style.display = "none";
            saveButton.style.display = "block";
        }
    </script>
}
