@model VentasVidaKidsLoteVX.Models.Cliente
<style>
    .centrar_form {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container_form {
        width: 95%;
        height: 85%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 30px;
    }

    .caja {
        width: 100%;
    }

        .caja select, .caja input {
            width: 450px;
            height: 35px;
        }

</style>


@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
   <div class="centrar_form">
        <form asp-action="Edit" class="needs-validation" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="container_form">
                <div class="caja">
                    <div class="form-group">
                        <label asp-for="NombreEstadoCliente" class="control-label">Estado</label>
                        <select asp-for="NombreEstadoCliente" class="form-control" asp-items="ViewBag.NombreEstadoCliente"></select>
                        *Recuerda, el estado del cliente sera Activo por Defecto*
                        <input type="hidden" asp-for="IdCliente"/>
                    </div>

                    <div class="form-group">
                        <label for="nombre" asp-for="NombreCliente" class="control-label"></label>
                        <input id="nombre" asp-for="NombreCliente" class="form-control" required />
                        <span asp-validation-for="NombreCliente" class="text-danger"></span>
                        <div class="valid-feedback">
                            Llenado corectamente

                        </div>
                        <div class="invalid-feedback">
                            El Nombre es un campo obligatorio

                        </div>

                    </div>


                    <div class="form-group">
                        <label for="apellido" asp-for="ApellidoCliente" class="control-label"></label>
                        <input id="apellido" asp-for="ApellidoCliente" class="form-control" required />
                        <span asp-validation-for="ApellidoCliente" class="text-danger"></span>
                        <div class="valid-feedback">
                            Llenado corectamente

                        </div>
                        <div class="invalid-feedback">
                            El Apellido es un campo obligatorio

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email" asp-for="EmailCliente" class="control-label"></label>
                        <input id="email" asp-for="EmailCliente" class="form-control" required />
                        <span asp-validation-for="EmailCliente" class="text-danger"></span>
                        <div class="valid-feedback">
                            Llenado corectamente

                        </div>
                        <div class="invalid-feedback">
                            El Apellido es un campo obligatorio

                        </div>
                    </div>


                    <div class="form-group">
                        <label for="telefono" asp-for="TelefonoCliente" class="control-label"></label>
                        <input id="telefono" asp-for="TelefonoCliente" class="form-control" required />
                        <span asp-validation-for="TelefonoCliente" class="text-danger"></span>
                        <div class="valid-feedback">
                            Llenado corectamente

                        </div>
                        <div class="invalid-feedback">
                            El Telefono es un campo obligatorio

                        </div>

                    </div>
                </div>

                <div class="caja">
                    <div class="form-group">
                        <label for="pais" asp-for="PaisCliente" class="control-label"></label>
                        <input id="pais" asp-for="PaisCliente" class="form-control" required />
                        <span asp-validation-for="PaisCliente" class="text-danger"></span>
                        <div class="valid-feedback">
                            Llenado corectamente

                        </div>
                        <div class="invalid-feedback">
                            El Pais es un campo obligatorio

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="ciudad" asp-for="CiudadCliente" class="control-label"></label>
                        <input id="ciudad" asp-for="CiudadCliente" class="form-control" required />
                        <span asp-validation-for="CiudadCliente" class="text-danger"></span>
                        <div class="valid-feedback">
                            Llenado corectamente

                        </div>
                        <div class="invalid-feedback">
                            La Ciudad es un campo obligatorio

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password" asp-for="PasswordCliente" class="control-label"></label>
                        <input id="password" asp-for="PasswordCliente" class="form-control" required />
                        <span asp-validation-for="PasswordCliente" class="text-danger"></span>
                        <div class="valid-feedback">
                            Llenado corectamente

                        </div>
                        <div class="invalid-feedback">
                            La Contraseña es un campo obligatorio

                        </div>
                    </div>
                </div>
            </div>
            @*             <div class="form-group">
            <label asp-for="FechaClienteRegistro" class="control-label"></label>
            <input asp-for="FechaClienteRegistro" class="form-control" />
            <span asp-validation-for="FechaClienteRegistro" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
